<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Electron screen recorder</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="render.js"></script>
  </head>
  <body>
    <h1> Electron screen recorder</h1>
    <video></video>
    <button id="videoSelectionButton" class="button is-txt"> Choose a video source</button>
    </hr>
    <button id="startButton" class="button is-primary">Start</button>
    <button id="pauseButton" class="button is-primary">Pause</button>
    <button id="stopButton" class="button is-warning">Stop</button>
    <button id="saveButton" class="button is-primary">Save</button>
    <button id="deleteButton" class="button is-warning">Delete</button>
  </body>
</html>
